:root{
    --primary: #4D4D4D;
}
.greencolor{
    color: #4CAF4F !important;
}
.greencolor:hover{
   color:black !important;
}
.paddingli{
    padding-left: 60px;
}
.gray{
    background-color: #F5F7FA;
;
}
.cgap{
    gap: 100px;
    
}
.marginr{
    margin-right:80px ;
}
.black{
    background-color:  #263238 !important;

}
.gray{
    background-color: #F5F7FA;
;
}
.bgray{
    background-color: gray;

}
.twhite{
    color: white  !important;
}
.button:active{
    color: black !important;
}
.green:hover{
    color: black !important;
     background-color: transparent !important;
    border: 2px solid green !important;
}
.green{
    background-color:#4CAF4F !important;
    color: white !important;
}
.dgrey{
    background-color: #515B60 !important;
    color: white !important;
}
.newsletter1::placeholder{
    color:white !important;
}